@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --font-base: 'Mulish', sans-serif;
  --font-stylish : 'Caveat', cursive;

  --color-white: rgb(238, 232, 232);
}

*,
html,
body {
  padding: o;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;

}


* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}

.main {
  max-width: 50rem;
  gap: 3rem;

}

/* Navbar */

.app__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 0;
}

.app__navbar h1 {
  cursor: pointer;
}

.app__nav_links {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-size: 0.7rem;
  cursor: pointer;
}

.app__nav_icons {
  display: flex;
  gap: 1.5rem;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.app__banner {
  height: 27rem;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/pexels-jill-burrow-6758085.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  gap: 1rem;
  text-align: center;
}

.app__banner h6 {
  letter-spacing: 1px;
  font-weight: 100;
}

.app__banner h1 {
  font-family: var(--font-stylish);
}

.app__banner button {
  color: var(--color-white);
  font-family: var(--font-base);
  background-color: transparent;
  padding: 0.8rem 1.5rem;
  font-size: 0.5rem;
  border: 1px solid var(--color-white);
  letter-spacing: 1.5px;
  word-spacing: 2px;
  cursor: pointer;
}

.blogcards {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  gap: 2rem;
}

.app__blogcard{
  display: flex;
  gap: 1.7rem;
  align-items: center;
}

.imgContainer {
  flex: 30%;
}

.image {
  height: 12rem;
  cursor: pointer;
}

.text {
  flex: 70%;
}

.text h2 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.author {
  font-size: 0.7rem;
  display: flex;
  text-transform: uppercase;
  gap: 1rem;
  letter-spacing: 1px;
  line-height: 1.2rem;
}

.text p {
  font-weight: 100;
  font-size: 0.85rem;
  line-height: 1rem;
}

.share {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.share p {
  font-size: 0.7rem;
  line-height: 2rem;
}

.icons {
  display: flex;
  gap: 0.5rem;
}

.icons span {
  font-size: 0.7rem;
  cursor: pointer;
}

.app__footer {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 3rem;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 1200px) {
  .main {
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .text h2 {
    font-size: 1rem;
    font-weight: 700;
  }

  .app__nav_links {
    gap: 1rem;
  }
}


/* Blog Page Section */

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}


.blog__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.blog__details .title {
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--font-stylish);
  letter-spacing: 0.4rem;
  text-align: center;
}

.post_author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.author_text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  text-transform: uppercase;
}

.author_text img {
  width: 1.5rem;
  border-radius: 20% 50% 20% 50%;
}

.blog__details .cover {
  width: 100%;
  max-height: 30rem;
  margin-bottom: 2rem;
}


@media only screen and (max-width: 600px) {
  .app__nav_links {
    display: none;
  }
  .app__navbar {
    padding: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .app__banner {
    height: 20rem;
  }

  .app__blogcard {
    flex-direction: column;
    text-align: center;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .blog__details .title {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
  }

  .blog__details .cover {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 340px) {
  .main {
    margin: 0 3rem;
}
}